* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: calc(100% / 3);
    position: relative;
}

.orange {
    background-color: #FF6900;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    margin: 5px;
}

#logo {
    width: 30%;
    height: auto;
}

.utility {
    width: 4%;
    height: auto;
}

.text-center {
    text-align: center;
}

.py-10 {
    padding: 10px;
}

.clothes-img {
    width: 100%;
    height: auto;
    display: block;
}

.d-none {
    width: 100%;
    height: auto;
    display: none;
}

.content:hover .clothes-img{
    display: none;
}

.content:hover .d-none {
    display: block;
}

.margin {
    margin: 50px;
}

span {
    color: red;
}

.label {
    position: relative;
    padding: 5px;
}

.label-heart {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 1;
}

.label-heart:hover {
    color: red;
    cursor: pointer;
}


.d-none {
    display: none;
}

.green {
    background-color: green;
    bottom: 130px;
    color: white;
    display: inline-block;
}

.red {
    background-color: red;
    bottom: 130px;
    color: white;
    display: inline-block;
}

.white {
    background-color: white;
    padding: 5px;
    font-size: 30px;
}

.col-50 {
    width: 50%;
    color: white;
    padding: 20px;
}

.black {
    background-color: black;
}

h4 {
    font-size: 25px;
    padding-right: 275px;
}

.social {
    margin-top: 10px;
    width: 3%;
}