* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: calc(100% / 3);
    background-color: #FF6900;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    margin: 5px;
}

#logo {
    width: 30%;
    height: auto;
}

.utility {
    width: 3%;
    height: auto;
}

.text-center {
    text-align: center;
}

.py-10 {
    padding: 10px;
}